[submodule "VisualScriptEngine"]
	path = VisualScriptEngine
	url = git@github.com:kovacsv/VisualScriptEngine.git

[submodule "archicad-addon-cmake-tools"]
	path = Tools
	url = git@github.com:GRAPHISOFT/archicad-addon-cmake-tools.git
